In [1]:
x = 5
x

5

In [ ]:
x = 5
x

Hi Monamoura

In [ ]:
y = 4
y

In [ ]:
x = (1, 2, 3)
x

In [ ]:
x = 100
d = 'day'
print(x,d)

In [ ]:
x = 100
print(str(x), 'day')

In [ ]:
x = 100
print(str(x) + 'day')

In [ ]:
"It's cool, isn't it?"

In [ ]:
print("It's cool, isn't it?")

In [ ]:
print('Big' , 'Houses')

In [ ]:
print('Big ' 'Houses')

In [ ]:
print('Big ' + 'Houses')

In [ ]:
'Big ' + 'Houses'

In [ ]:
'Big' , 'Houses'

In [ ]:
x = "joushua"
x

In [ ]:
"Aren't you hungry?"

In [ ]:
16/3

In [ ]:
15**3

In [ ]:
15^2

In [ ]:
1523

In [ ]:
y = 100

In [ ]:
y == 98

In [ ]:
100 == 98

In [ ]:
1.5 * 2 + 5

In [ ]:
1.5 * 2 + \
5

In [ ]:
15 + 31
- 26

In [ ]:
15 + 31 \
- 26

In [ ]:
"Holidays"[6]

In [ ]:
def nila(x=1,y=2):
    y=5
    y=6
    return(x,y)

In [ ]:
def geom(p,l):
    L = p*l
    S = 4*p
    return(L,S)

In [ ]:
luas, sisi = luas(4,5)

In [ ]:
print(y)

In [ ]:
luas

In [ ]:
sisi

In [ ]:
False or not True and not False

In [ ]:
if 5 == 15/3:
    print("Hooray!")

In [ ]:
if 6 == 15/3:
    print("Hooray!")

In [ ]:
if 5 > 2:
    print("The condition has been satisfied")

In [ ]:
x = 10
y = 25
if x > 3 and y > 13:
    print("Both condition are correct")

if x <= 3 and y <= 13:
    print("At least one of the conditions is false")

In [ ]:
if x <= 3 and y <= 13:
    print("At least one of the conditions is false")

In [ ]:
x = 10
y = 25
if x > 3 and y > 13:
    print("Both conditions are correct")

if x <= 3 and y <= 13:
    print("At least one of the conditions is false")
    
x = 20
y = 2

In [ ]:
x,y = 3, 13
x,y

In [ ]:
x

In [ ]:
y

In [ ]:
x = 10
y = 20
if x > 3 and y > 13:
    print("Both conditions are correct")

In [ ]:
if x <= 30 and y <= 193:
    print("At least one of the conditions is false")

In [ ]:
def compare_to_five(y):
    if y > 5:
        return "greater"
    elif y < 5:
        return "less"
    elif y < 0:
        return "negatif"
    else: 
        return "equal"

In [ ]:
compare_to_five(-1)

In [ ]:
x = 500
if x > 200:
    print("Big")
elif x > 100 and x <= 200:
    print("Average")
else: print("Small")

In [ ]:
if x > 200:
    print("Big")

In [ ]:
x = -200

if x > 200: 
    print ("Big")
elif x > 100 and x <= 200:
    print ("Average")
elif x >= 0 and x <= 100:
    print("Small")
elif x<100:
    print("Negative")

In [ ]:
def nila():
    print("umma monamoura")
nila()

In [ ]:
def pian(x):
    y = 2 + x
    return(y)

In [ ]:
pian(4)

In [ ]:
pian(-4)

In [ ]:
pian(0)

In [ ]:
def multiplication_by_2(x):
    y = x*2
    return(y)

In [ ]:
multiplication_by_2(5)

In [ ]:
def exponentiation_exp_2(x):
    result = x**2 
    print("Raised to the power of two")
    return result

In [ ]:
exponentiation_exp_2(3)

In [ ]:
def exponentiation_exp_2(x):
    result = x**2
    print("Raised to the power of two")
    return result

In [ ]:
exponentiation_exp_2(2)

In [ ]:
def exponentiation_exp_2(x):
    result = x**2
    return (result, "Raised to the power of two")

In [ ]:
def exponentiation_exp_2(x):
    result = x**2
    return (result, print("Raised to the power of two"))
    
exponentiation_exp_2(0)

In [ ]:
def exponentiation_exp_2(x):
    result = x**2
    print("Raised to the power of 2:")
    return result
exponentiation_exp_2(0)

In [ ]:
#function in function 

def plus_five(x):
    return x + 5
    
def m_by_3(x):
    return plus_five(x) * 3
    
m_by_3(5)

In [ ]:
def save_money(x):
    if x >= 100:
        x = x + 10
        return x
    else: 
        return x

In [ ]:
save_money(180)

In [ ]:
def compare_the_two(x,y):
    if x > y:
        result = "Greater"
        return result
    elif x == y:
        result = "Equal"
        return result
    elif x < y:
        result = "Less"
        return result

In [ ]:
compare_the_two(5,5)

In [ ]:
def compare_the_two(x,y):
    if x > y:
        return print("Greater")
    elif x < y:
        return print("Less")
    elif x == y:
        return print("Equal")

In [ ]:
def compare_the_two(x,y):
    if x > y:
        print("Greater")
    elif x < y:
        print("Less")
    elif x == y:
        print("Equal")

compare_the_two(6,5)

In [ ]:
def subtract_bc(a,b,c):
    result = a - b*c
    print ('Parameter a equals', a)
    print ('Parameter b equals', b)
    print ('Parameter c equals', c)
    return result

In [ ]:
x = len("Elephant")
type(x)

In [ ]:
def distance_from_zero(x):
    if type(x) == int:
        absolut = abs(x)
        return absolut
    elif type(x) != int:
        return print("Not possible")

In [ ]:
distance_from_zero("cat")

In [ ]:
Numbers = ["20", "25", "40", "50"]
Numbers[2]

In [ ]:
#numbers tdk perlu kutip
Numbers2 = [20, 25, 40, 50]
Numbers2[2]

In [ ]:
type(Numbers)

In [ ]:
type(Numbers2)

In [ ]:
Numbers = [10, 25, 40, 50]
Numbers[-3]

In [ ]:
Numbers = [10, 25, 40, 50]
Numbers[0] = 15

In [ ]:
Numbers

In [ ]:
Numbers = [10, 25, 40, 50]
del Numbers[1]

In [ ]:
Numbers

In [ ]:
Numbers = [15, 40, 50]
Numbers.append(100)

In [ ]:
Numbers

In [ ]:
Numbers[4]

In [ ]:
Numbers = [15, 40, 50, 100]
Numbers.extend([115,140])

Numbers = [15, 40, 50, 100, 115, 140]
print("The fourth element of the Numbers list is" + Numbers[4]+ .)

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
print('The fourth element of the Numbers list is', Numbers[4], '.')

In [ ]:
type(Numbers)

In [ ]:
#slicing
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[3:5]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[:4]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[3:]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[-4:]

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers.index(15)

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Two_Numbers = [1,2]

All_Numbers =  [Two_Numbers, Numbers]

In [ ]:
All_Numbers

In [ ]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers.sort(reverse=True)
Numbers

In [ ]:
Cars = ("BMW", "Dodge", "Ford")
Cars[1]

In [ ]:
name, age = ('Peter','24')
name

In [ ]:
name, age = 'Peter,24'.split(',')
print(name)
print(age)

In [ ]:
def rectangle_info(l,w):
    area = l*w
    return area

rectangle_info(2,10)

In [ ]:
def rectangle_info(l,w):
    area = l*w
    k = 2*l + 2*w
    return area,k

rectangle_info(2,10)

In [1]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu["meal_2"]

'Fries'

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}

Menu["meal_5"] = 'Soup'

In [ ]:
Menu

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}

Menu["meal_3"] = "Cheeseburger"

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

Menu["meal_5", "meal_6", "meal_7"] = Dessert
Menu

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

Menu["menu_6"] = Dessert

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}

Price_list = {Menu['meal_1']:10, Menu['meal_2']:5, Menu['meal_3']:8, Menu['meal_4']:12, Menu['meal_5']:5}
Price_list

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

Menu["menu_6"] = Dessert

In [ ]:
price = (10, 5, 8, 12, 5)
index = 0
for a in Menu.values():
    #print(a, index)
    Price_list[a] = price[index]
    #print(Price_list)
    index = index + 1
Price_list

In [ ]:
Price_list

In [ ]:
Price_list = {'Cheeseburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}

print(Price_list.get('Spaghetti'))

In [ ]:
digits = [0,1,2,3,4,5,6,7,8,9]

for n in digits:
    print(n)

In [ ]:
digits = [0,1,2,3,4,5,6,7,8,9]

for d in digits:
    print (d, end = " ")

In [ ]:
x = 0
while x <= 20:
    print(x, end = " ")
    x = x + 2

In [ ]:
x = 0
while x <= 20:
    x = x + 2
    print(x, end = " ")

In [ ]:
x = 0
while x <= 30:
    genap = x % 2
    if genap != 0:
        print(x, end = " ")
    x  = x + 1

In [ ]:
10 % 2

In [ ]:
list(range(1,10))

In [ ]:
list(range(0,31,2))

In [ ]:
x = range(1,11)
for loop in x:
    print(loop * 2, end = " ")

In [ ]:
x = range(1,31)
for item in x:
    if item % 2 == 0:
        print('Even', end = " ")
    else:
        print(item, end = " ")

In [ ]:
n = [1,2,3,4,5,6]
for loop in n:
    print(loop * 10, end = " ")

In [ ]:
n = [1,2,3,4,5,6]
for loop in range(len(n)):
    print(n[loop] * 10, end = " ")

In [ ]:
list(range(len(n)))
n

In [ ]:
def count(number):
    result = 0
    for item in number:
        if item < 20:
            result = result + 1
    return result

count(m)

In [ ]:
m = [20, 21, 1, 50, 5]

You are provided with the nums list. Complete the code in the cell that follows. Use a while loop to count the number of values lower than 20.

In [ ]:
nums = [1,35,12,24,31,51,70,100]

x = 0
result = 0
while x < len(nums):
    if nums[x] < 20:
        result += 1
    x = x + 1
print(result)

In [ ]:
nums = [1,35,12,24,31,51,70,100]

def count(list):
    x = 0
    result = 0
    while x < len(list):
        if list[x] < 20:
            result += 1
        x = x + 1
    return result

count(nums)

In [2]:
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna'}

In [5]:
for item in Menu:
    print(Menu[item])

Spaghetti
Fries
Hamburger
Lasagna

In [8]:
list = [3,5,8]
for item in list:
    print(item)

3
5
8

In [9]:
for item in Menu:
    print(item)

meal_1
meal_2
meal_3
meal_4

In this exercise you will use the same dictionaries as the ones we used in the lesson - prices and quantity. This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more.

In [15]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0
for item in prices:
    if prices[item] >= 5:
        money_spent = money_spent + (prices[item] * quantity[item])
print(money_spent)

50

In [16]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0
for item in prices:
    if prices[item] < 5:
        money_spent = money_spent + (prices[item] * quantity[item])
print(money_spent)

24